html,body{
	margin:0;
	padding:0;
}

body{
	height:100vh;
	background-image: url(../img/background-1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#wrapper{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.2);
}

#login-box>div>div{
	height:100px;
	background-color: rgba(0,0,0,0.8);
	border-radius:8px;
	border-color:black;
	box-shadow:15px 15px 8px black;
}